<div class="timeline">
  <div class="timeline-events">
    <div *ngFor="let event of timelineEvents" class="timeline-card">
      <div class="event-date">
        <ng-container *ngIf="(event.from_date | date: 'yyyy') === (event.to_date | date: 'yyyy'); else differentYears">
          {{ event.from_date | date: 'MMM' }} – {{ event.to_date | date: 'MMM yyyy' }}
        </ng-container>
        <ng-template #differentYears>
          {{ event.from_date | date: 'yyyy' }} – {{ event.to_date != this.current_date ? (event.to_date | date: 'yyyy') : 'PRESENT' }}
        </ng-template>
      </div>
      <div class="timeline-card-right">
        <a [href]="event.link" class="card-title">
          <span class="occupation">{{ event.occupation }}</span>
          <i class="fa-solid fa-circle"></i>
          <span class="title">{{ event.title }}</span>
          <fa-icon [icon]="faArrowUpRight" class="arrow-icon"></fa-icon>
        </a>
        <div *ngIf="event.description" class="description">
          {{ event.description }}
        </div>
        <div class="tags">
          <span *ngFor="let tech of event.tech" class="tech">{{ tech }}</span>
        </div>
        <div class="tags">
          <span *ngFor="let language of event.languages" class="language">{{ language }}</span>
        </div>
        <div class="tags">
          <span *ngFor="let tool of event.tools" class="tool">{{ tool }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
