.timeline {
  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    position: relative;
    padding-left: 20px;
    height: 100%;

  }

  .component {
    display: flex;
    height: 100%;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.2rem;
  }

  .dot {
    padding-bottom: 0.2rem;
    color: darkslategrey;
  }

  .spin{
    animation: spin 2s infinite ease;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg); // Start from 0 degrees
    }
  to {
      transform: rotate(360deg); // Rotate 360 degrees (full circle)
    }
  }

  .vl {
    height: 100%;
    width: 1px; /* Line width */
    background-color: darkslategrey; /* Line color */

  }

  .pl-1 {
    padding-left: 1rem;
  }

  .pr-1 {
    padding-right: 1rem;
  }

  .card{
    padding-bottom: 25px;
  }

  .title {
    font-weight: bold;
  }

  .years {
    font-weight: lighter;
    font-style: italic;
  }

  .content {
    h3 {
      margin: 0;
      font-size: 1.2em;
    }

    p {
      margin: 0;
    }
  }

  .tags {
    font-size: 9pt;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
  }

  .language {
    background-color: green;
    margin: 0 0.3rem 0 0;
    padding: 0.2rem;
    border-radius: 1px;
  }

  .tech {
    background-color: blue;
    margin: 0 0.3rem 0 0;
    padding: 0.2rem;
    border-radius: 1px;
  }

  .tool {
    background-color: red;
    margin: 0 0.3rem 0 0;
    padding: 0.2rem;
    border-radius: 1px;
  }


}
