@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@100;300;400;500;600;700;900&display=swap');

:root{
    --cadet: #5E7782;
    --light: #F0F7EE;
    --dark: #202531;
    --accent: #1B998B;
    --space_cadet: #2D3047;
    --fire: #FF7033;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kulim Park", sans-serif;
}

html, body {
    padding-top: .75rem;
    height: 100%;
    overflow: auto;
}

p, a, .v-application a, button {
    text-decoration: none;
}

a, .logo, .icon .links{
    cursor: pointer;
}

nav {
    align-items: center;
}

.links p, .links a, .links button {
    font-size: 1.5rem;
    font-weight: 400;
}

.links p, .links a {
    margin-right: 50px;
}

.links p:hover, .links a:hover {
    color: var(--accent);
}

.hero_font {
    color: var(--cadet);
    font-family: "Kulim Park", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
}

.sub_header{
    color: var(--dark);
    font-family: "Kulim Park", sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
}

@media only screen and (max-width:1100px) {
    .logo{
        height: 70%;
        width: auto;
    }

    body{
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .info {
        grid-column: 3 / span 6;
    }

    .icon img {
        height: 60px;
        width: auto;
    }

    .icon_top {
        font-size: 1rem;
    }

    .hero_font {
        font-size: 3rem;
    }

    .sub_header {
        font-size: 1.25rem;
    }

}

@media only screen and (max-width: 650px) {
    .logo{
        height: 70px;
        width: auto;
    }

    .info {
        grid-column: 2 / span 6;
    }

    .icon img {
        height: 40px;
        width: auto;
    }

    .icons {
        flex-direction: column;
    }

    .icon {
        margin-bottom: 20px;
    }
}
