.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 1000;
  padding: 0;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    transform: scale(1.05);

    .icon {
      color: var(--accent-color-2);
    }
  }

  &:active {
    transform: scale(0.95);
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--main-color);
    transition: all 0.2s ease;
  }
}
