.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Add space between project cards */
  padding-bottom: 2rem;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project.reverse {
  flex-direction: row-reverse; /* Reverse the order for alternate projects */
}

.project-image {
  position: relative; /* Ensure the pseudo-element is positioned correctly */
  border-radius: 8px;
  aspect-ratio: 16 / 9;
  max-width: 50rem;
  overflow: hidden;
  width: 100%; /* Make the image take the full width of the container */
  height: auto; /* Maintain the aspect ratio */
  object-fit: contain; /* Ensure the image covers the entire container */
}

.project-image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color-2);
  opacity: 30%;
  pointer-events: none; /* Ensure the overlay doesn't interfere with interactions */
  transition: opacity 0.3s; /* Smooth transition for opacity change */
}

.project-image:hover::before {
  opacity: 0; /* Remove the overlay on hover */
}

.project-image img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s; /* Smooth transition for hover effects */
}

.project-image:hover {
}

.project-details {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.project-title img{
  max-width: 5rem;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.project-card {
  background-color: #fff; /* White background for the card */
  border: 1px solid var(--background-color-darker); /* Light border around the card */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a card effect */
  padding: 1rem; /* Padding inside the card */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.tags {
  margin-top: 10px;
}

.pill {
  display: inline-block;
  background-color: var(--background-color-darker);
  margin: 0 0.2rem 0.2rem 0;
  padding: 0.2rem 0.6rem; /* Adjust padding to make it look more like a pill */
  border-radius: 999px; /* Make the corners fully rounded */
  font-size: 0.75rem;
  color: var(--accent-color-2);
}
