<div class="container">
  <!--<h2 class="title"><{{ title }}></h2>-->
  <h2 class="title"></h2>
  <div class="header">
    <div class="image-content">
      <img [src]="'assets/profileimg.jpg'" alt="Profile" class="profile-img">
    </div>
    <div class="text-content">
      <h1 [class]="'name'">Johan Martinson</h1>
      <h3 class="subtitle">Researcher and Software Engineer</h3>
      <p class="text">Fullstack software developer researching featurization of software systems.</p>
      <app-socials></app-socials>
    </div>
  </div>

  <app-time-line></app-time-line>
  <app-projects></app-projects>
  <app-publications></app-publications>
</div>
