<div class="publications">
  <div class="publications-container">
    <div class="publication-card" *ngFor="let publication of getPublications()">
      <div class="card-content" (click)="openPublicationDetail(publication)">
        <h3 class="paper-title">{{ publication.title }}</h3>
        <p class="date">{{ publication.date }}</p>
        <p class="authors">{{ publication.authors | authorName }}</p>
        <p class="published-in" *ngIf="publication.publishedIn">
          <i class="fa fa-book" aria-hidden="true"></i> {{ publication.publishedIn }}
        </p>
        <p class="description">{{ publication.description | slice:0:300 }}...</p>
      </div>
      <div class="button-container">
        <button *ngIf="publication.doi != null" (click)="openBibtexView(publication)" class="action-btn bib-btn">
          BIB
        </button>
        <a [href]="publication.link" target="_blank" class="action-btn pdf-btn">
          PDF
        </a>
      </div>
    </div>
  </div>
  <div class="view-all-link">
    <a href="#/publications">View all publications
      <fa-icon [icon]="faArrowUpRight" class="arrow"></fa-icon>
    </a>
  </div>
</div>

